<div class="featurette">
  <h2 class="featurette-heading"><%= @organization %> <span class="muted"><%= @day %>/<%= @month %>/<%= @year %></span></h2>
  <div>
    <ul id="user-activities">
      <li><div class="circular"><img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash4/273801_100003696264385_1740853510_q.jpg" /></div></li>
    </ul>
  </div>
</div>
<hr class="featurette-divider">