<div class="featurette" data-bind="css: { 'load-completed': $root.activityTypesLoadCompleted }">

  <div id="top-activities">
    <!-- ko if: $root.isUserLoggedIn -->
    <!-- Buttons Activities -->
    <div id="buttons-activities" class="btn-group" data-bind="foreach: activityTypes">
      <button class="btn" data-toggle="tooltip" data-placement="bottom" 
              data-bind="attr:{ title: description }, 
              css:{ active: activated },
              tooltip: true, click: $parent.save">
        <img src="" data-bind="attr:{ src: image}" />
      </button>
    </div>
    <!-- /ko -->

    <!-- ko if: !$root.isUserLoggedIn -->
    <!-- Warning -->
    <div class="align-center">
      <span class="label label-warning">You must be logged in to mark any activity</span>
    </div>
    <!-- /ko -->
  </div>
  
  <!-- Title -->
  <h2 class="featurette-heading">
    <%= activity_date %>
    <span class="muted"><%= @organization %></span>
  </h2>

  <!-- Users Activites -->
  <div>
    <ul id="user-activities" data-bind="foreach: activitiesGroupedByUser">
      <li>
        <div class="circular">
          <img data-bind="attr: { 
            title: activities().length && activities()[0].user.name,
            src: activities().length && activities()[0].user.picture }, tooltip: true" />
        </div>
        <ul class="activity-type-bullets" data-bind="foreach: activities">
          <li data-toggle="tooltip" data-placement="bottom" 
                data-bind="attr:{ title: activity_type.name }, tooltip: true, css: 'activity-type-bullet-' + activity_type.id"></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<hr class="featurette-divider">

<!-- Facebook Comments -->
<div class="align-center">
  <div id="fb-comments" class="fb-comments" data-href="<%= request.original_url %>"></div>
</div>