<div class="featurette">
  <div id="buttons-activities" class="btn-group" data-bind="foreach: activityTypes">
    <button class="btn" data-toggle="tooltip" data-placement="bottom" 
            data-bind="attr:{ title: description }, 
            css:{ active: activated },
            tooltip: true, click: $parent.save">
      <img src="" data-bind="attr:{ src: image}" />
    </button>
  </div>
  <h2 class="featurette-heading">
    <%= activity_date %>
    <span class="muted"><%= @organization %></span>
  </h2>
  <div>
    <ul id="user-activities" data-bind="foreach: activitiesGroupedByUser">
      <!-- <pre data-bind="text: ko.toJSON($data, null, 2)"></pre> -->
      <li><div class="circular"><img data-bind="attr: { src: activities[0].user.picture }" /></div></li>
    </ul>
  </div>
</div>
<hr class="featurette-divider">