<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Did you do any activity yesterday (<%= @yesterday %>)?</h1>
    <p>
      If you forgot, please just submit each item to automatically mark a activity for yesterday.<br/>
      <ul>
        <% @activity_types.each do |activity_type| %>
        <li><%= link_to activity_type.name, mark_yesterday_by_token_url(token: @user.email_activity_token_by_activity_type(activity_type)) %></li>
        <% end %>
      </ul>
      Or access the My Workout Diary - Application <%= link_to "here", root_url %>
    </p>
    <p>Have a great day!</p>
  </body>
</html>