<div class="navbar-wrapper">
  <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
  <div class="container">


    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "My Workout Diary", day_path, class: "brand" %>
        <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Everyone <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Today", day_path %></li>
                  <li><a href="#">This Week</a></li>
                  <li><a href="#">This Month</a></li>
                  <li><a href="#">This Year</a></li>
                  <li><a href="#">All activities</a></li>
                </ul>
              </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mine <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">This Week</a></li>
                  <li><a href="#">This Month</a></li>
                  <li><a href="#">This Year</a></li>
                  <li><a href="#">All activities</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Settgins</li>
                  <li><a href="#">User</a></li>
                </ul>
              </li>
          </ul>
          <%= render "shared/user_nav" %>
        </div>
      </div>
    </div>

  </div>
</div>