/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require toastr
 *= require datepicker
 *= require_self
 *= require_tree .
 */

/* User Login/Logout Bar
--------------------------------*/
#user_nav{
  color: #fff;
  padding: 15px 20px;
}

/* User Activities
--------------------------------*/
#content-activities{
  min-height: 300px;
}

#user-activities{
  margin: 10px 25px;
  list-style: none;
}

#user-activities>li{
  display: inline-block;
  margin: 10px;  
}

#user-activities>li img,
#user-activities td.user_circ_picture img{
  border: 1px solid #ccc;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  max-width: 50px;
}

/* Table All Users*/
table#user-activities {margin: 10px 0;}
#user-activities th,
#user-activities td { text-align: center; }
#user-activities td.user_circ_picture img { max-width: 40px;margin: 0;}
#user-activities td.columnHighlight,
#user-activities th.columnHighlight { 
  background: #EDEDED; 
  text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 35px rgba(255,255,255,0.3);
}

#buttons-activities{
 margin: 0 auto 40px auto;
 display: block;
 width: 125px; 
}

#top-activities { display: none; }
.load-completed #top-activities { display: block; }

#label-no-activities{
  padding-top: 80px;
  text-align: center;
}

#easter_egg_user_not_found{
  display: block;
  margin: 10px auto;
}

/* Email Notification Bar
--------------------------------*/
#email-notification-bar{
  text-align: right;
  padding-top: 5px;
  height: 20px;
}

/* Activity Type Bullets
--------------------------------*/
.activity-type-bullets{
  margin: 0;
  padding: 0 8px;
}

.activity-type-bullets li,
.activity-type-bullet{
  display: inline-block;
  vertical-align: middle;
  width: 7px;
  height: 7px;
  border: 1px solid #ccc;
  border-radius: 10px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
}
.activity-type-bullet-1{ background: #363636; }
.activity-type-bullet-2{ background: #49afcd; }
.activity-type-bullet-3{ background: #da4f49; }

#user-activities td .activity-type-bullet{ display: block; margin:0 auto 5px auto;}

/* Common
--------------------------------*/
.align-center{ text-align: center;}


/* Responsive Design
--------------------------------*/
@media (max-width: 600px) {
#email-notification-bar { text-align: center; }
}