/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require toastr
 *= require_self
 *= require_tree .
 */

/* User Login/Logout Bar
--------------------------------*/
#user_nav{
  color: #fff;
  padding: 15px 20px;
}

/* User Activities
--------------------------------*/
#user-activities{
  list-style: none;
}

#user-activities>li{
  display: inline-block;
  margin: 10px;  
}

#user-activities>li img{
  border: 1px solid #ccc;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

#buttons-activities{
 margin: 0 auto 40px auto;
 display: block;
 width: 125px; 
}

#top-activities { display: none; }
.load-completed #top-activities { display: block; }

/* Email Notification Bar
--------------------------------*/
#email-notification-bar{
  text-align: right;
  padding-top: 5px;
  height: 20px;
}

/* Activity Type Bullets
--------------------------------*/
.activity-type-bullets{
  margin: 0;
  padding: 0 8px;
}

.activity-type-bullets li{
  display: inline-block;
  vertical-align: middle;
  width: 7px;
  height: 7px;
  border: 1px solid #ccc;
  border-radius: 10px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
}
.activity-type-bullet-1{ background: #363636; }
.activity-type-bullet-2{ background: #49afcd; }
.activity-type-bullet-3{ background: #da4f49; }

/* Common
--------------------------------*/
.align-center{ text-align: center;}